@{
    ViewBag.HasBreadcrumb = IsSectionDefined("Breadcrumb");
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <title>@(ViewBag.Title ?? "Без заголовка")</title>
</head>
<body>
    <header>
        <partial name="_NavigationPartial" />
        <partial name="_BreadcrumbPartial" />
    </header>
    <main class="container-md">
        @RenderBody()
    </main>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
